#a1{
    margin-top: 5vh;
    width: 15vw;
}
#h1{
    margin-top: 50px;
    color: white;
    margin-left: 1vw;
}
#h2{
    color: white;
    margin-left: 1vw;
}
#h3{
    margin-top: 40vh;
    color: white;
    margin-left: 1vw;
}
#h4{
    /* margin-top: 50px; */
    color: white;
    margin-left: 1vw;
  
}
#p1{
    margin-top: 10vh;
    font-size:x-small;
    color: white;
    margin-left: 5vw ;
}
#s1{
    margin-left: 25px;
}